/* GENERALES */
html {
  width: 100%;
  height: 100%; }

.marginSection {
  margin-top: 100px;
  margin-bottom: 40px; }

.marginSectionMenor {
  margin-top: 10px;
  margin-bottom: 40px; }

.italicFont {
  font-style: italic; }

.paddingLeft {
  padding-left: 50px; }

.marginAutoLR {
  margin: 0px auto; }

.boldFont {
  font-weight: bold; }

.tituloSeccion {
  text-align: left;
  margin-left: 20px; }

.marginDivBtn {
  margin-top: 20px; }

.colorPrimario {
  color: midnightblue; }

.colorSecundario {
  color: #006969; }

.btn {
  background-color: #006969;
  color: white;
  box-shadow: 0px 0px 5px 1px black; }

.alignLeft {
  text-align: left;
  margin-right: 10px;
  margin-bottom: 0px; }

/* HEADER */
header nav {
  background-color: #00205B;
  box-shadow: 0px 0px 5px 1px black; }

header .nav-link {
  color: white !important;
  text-decoration: none;
  font-size: 25px; }

header .nav-link:hover {
  color: gray !important; }

header .nav-item {
  padding: 0px 20px; }

.active {
  font-weight: bold;
  color: lightgray !important; }

.navbar-toggler {
  border-color: white !important; }

#navbarNavDropdown {
  justify-content: center; }

/* FOOTER*/
footer {
  background-color: #00205B;
  color: white;
  box-shadow: 0px 0px 5px 1px black; }
  footer .nav-link {
    color: white !important;
    text-decoration: none; }
  footer .nav-item:hover {
    font-weight: bold; }
  footer .list-unstyled li:hover {
    transform: scale(1.2); }
  footer h5 {
    font-weight: bold; }

#Footer {
  padding-top: 3rem; }

.imagenesRRSS {
  width: 30px; }

.copyRight {
  padding-top: 1.5rem; }

.icon {
  color: white;
  font-size: 1.8rem; }

.icon:hover {
  transition: transform 0.7s; }

/************* INICIO ***************/
/* CARDS */
.cardMargin {
  width: 85%;
  margin: 5% 3% 3% 5%;
  padding: 10px; }

.card {
  margin: auto; }

.personaldMargin {
  margin: auto; }

.card-body a {
  font-size: 15px; }
  .card-body a .autor {
    font-size: 15px; }

.card-title {
  color: #006969;
  padding-left: 50px;
  font-size: 2rem; }

.card-text {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify; }

.card-notes {
  padding-left: 5px;
  padding-right: 5px; }

.imgAndy {
  width: 100%;
  max-width: 223px;
  max-height: 325.55px;
  border-radius: 40%;
  margin-top: 15px; }

.filaUltimas h1 {
  padding-left: 40px; }

.logo {
  margin-left: 25px; }

.btnTexto {
  text-align: right;
  margin-right: 55px;
  margin-top: 25px; }

.cardNotes {
  font-size: 15px; }

#notasCharlas h3 {
  margin-left: 10px; }

#notasCharlas h4 {
  font-size: 18px; }

@media only screen and (max-width: 480px) {
  .card-title {
    padding: 0;
    font-size: 1.2rem; }
  .sinPadding {
    padding: 0; }
  .cardMargin {
    width: 100%;
    margin: 0;
    padding: 0px;
    justify-content: center; }
  .card-text {
    padding-left: 1px;
    padding-right: 1px;
    text-align: justify; }
  .btnTexto {
    margin-right: 0; }
  .marginSection {
    margin-top: 90px; }
  .centrarImg {
    text-align: center; }
  .marginTopMobile {
    margin-top: 40px; }
  #containerContacto h3 {
    font-size: 1.4rem !important; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-title {
    padding: 0; }
  .cardMargin {
    width: 100%;
    margin: 0;
    padding: 0px;
    justify-content: center; }
  .card-text {
    padding-left: 1px;
    padding-right: 1px;
    text-align: justify;
    margin: 0; }
  .btnTexto {
    margin: 0; }
  .marginSection {
    margin-top: 90px; }
  .centrarImg {
    text-align: center; }
  .marginTopMobile {
    margin-top: 0px; }
  .marginTopTablet {
    margin-top: 20px; } }

@media only screen and (max-width: 990px) {
  .nav-link {
    font-size: 1rem !important; } }

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .card-title {
    padding: 0; }
  .cardMargin {
    width: 100%;
    margin: 0;
    padding: 0px;
    justify-content: center; }
  .card-text {
    padding-left: 1px;
    padding-right: 1px;
    text-align: justify;
    margin: 0; }
  .btnTexto {
    margin-top: 25px;
    margin-right: 0px; }
  .marginSection {
    margin-top: 90px; }
  .centrarImg {
    text-align: center; }
  .marginTopMobile {
    margin-top: 0px; }
  .marginTopTablet {
    margin-top: 20px; } }

/************* SOBRE ANDY ***************/
#tituloSobreMi {
  margin: 10px;
  text-align: left; }

.imagenMenor {
  margin: auto; }

.imgSobreMi {
  margin: 5px; }

.parrafosSobreMi {
  padding: 0 0 0 5%; }
  .parrafosSobreMi p {
    font-size: 16.7px; }
  .parrafosSobreMi a {
    font-size: 16.7px; }

#parrafosSobreMi h4 {
  color: midnightblue; }

h3 {
  font-size: 1.5rem; }

.contentCard {
  justify-content: space-around;
  text-align: center;
  align-items: center; }

@media only screen and (max-width: 767px) {
  #parrafosSobreMi {
    margin: 0; }
  .parrafosSobreMi {
    padding: 0; }
  .imgSobreMi {
    width: 90%; } }

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  #parrafosSobreMi {
    margin: 0; }
  .parrafosSobreMi {
    padding: 0; } }

/************* BLOG ***************/
#blog div {
  justify-content: center; }

.alignRightFecha {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px; }

.blogImg {
  text-align: center; }
  .blogImg img {
    margin-top: 10px;
    width: 60%; }

.blogCard {
  text-align: center; }

.botonNotas {
  text-align: end; }

/************* SERVICIOS ***************/
.tituloServicios {
  margin: 15px 15px 25px 15px; }

.imagenServicios {
  width: 90%;
  height: auto;
  margin: 15px; }

.btnServicios {
  margin-bottom: 15px;
  text-align: center; }

#charlas .row {
  justify-content: space-around; }

#charlas h2 {
  margin-left: 20px; }

#charlas h4 {
  text-align: center;
  font-size: 18px; }

#charlas .text-muted {
  font-size: 13px; }

#charlas .btnServicios {
  text-align: right;
  margin-right: 10px; }

.columnaLista ul {
  padding-left: 0; }

@media only screen and (max-width: 1439px) {
  .columnaLista ul {
    padding-left: 25px; } }

@media only screen and (max-width: 767px) {
  .columnaLista ul {
    padding-left: 25px; }
  .marginTop {
    margin-top: 20px; }
  #charlas {
    margin: 0; } }

@media only screen and (max-width: 480px) {
  .tituloServicios {
    font-size: 1.3rem; } }

/************* CONTACTO ***************/
#containerContacto {
  border-radius: 30px;
  border: 2px solid lightgray;
  padding: 30px;
  margin: auto; }
  #containerContacto h3 {
    font-size: 24px; }
  #containerContacto label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold; }
  #containerContacto input {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black; }
  #containerContacto textarea {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px; }
  #containerContacto .enviarForm {
    padding: 10px;
    margin-left: 80%;
    font-weight: bold; }

#fs-frm-inputs {
  display: flex;
  flex-direction: column; }
