/* GENERALES */
html {
  width: 100%;
  height: 100%; }

.marginSection {
  margin-top: 100px;
  margin-bottom: 40px; }

.paddingLeft {
  padding-left: 50px; }

.marginAutoLR {
  margin: 0px auto; }

.boldFont {
  font-weight: bold; }

.tituloSeccion {
  text-align: left;
  margin-left: 20px; }

/* HEADER */
header nav {
  background-color: #00205B;
  box-shadow: 0px 0px 5px 1px black; }

header .nav-link {
  color: white !important;
  text-decoration: none;
  font-size: 25px; }

header .nav-item {
  padding: 0px 20px; }
  header .nav-item :hover {
    font-weight: bold; }

.active {
  font-weight: bold; }

.navbar-toggler {
  border-color: white !important; }

#navbarNavDropdown {
  justify-content: center; }

/* FOOTER*/
footer {
  background-color: #00205B;
  color: white;
  box-shadow: 0px 0px 5px 1px black; }
  footer .nav-link {
    color: white !important;
    text-decoration: none; }
  footer .nav-item:hover {
    font-weight: bold; }
  footer .list-unstyled li:hover {
    transform: scale(1.2); }
  footer h5 {
    font-weight: bold; }

#Footer {
  padding-top: 3rem; }

.imagenesRRSS {
  width: 30px; }

.copyRight {
  padding-top: 1.5rem; }

/************* INICIO ***************/
/* CARDS */
.cardMargin {
  margin: 5% 10% 3% 10%; }

.card {
  margin: auto; }

.personaldMargin {
  margin: auto; }

.card-body a {
  font-size: 15px; }
  .card-body a .autor {
    font-size: 15px; }

.card-title {
  color: #006969;
  padding-left: 50px; }

.card-text {
  padding-left: 50px;
  padding-right: 50px; }

.card-notes {
  padding-left: 5px;
  padding-right: 5px; }

h3 {
  font-size: 16px; }

.imgAndy {
  max-width: 223px;
  max-height: 325.55px; }

/************* SOBRE ANDY ***************/
.imagenMenor {
  margin-top: auto;
  padding-right: 10px; }

.imgSobreMi {
  margin: 10px 0px; }

.parrafosSobreMi p {
  font-size: 18px; }

.parrafosSobreMi a {
  font-size: 18px; }

/************* BLOG ***************/
.alignRightFecha {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px; }

.blogImg {
  width: 900px; }

/************* SERVICIOS ***************/
.tituloServicios {
  margin: 15px; }

.imagenServicios {
  width: 80%;
  margin: auto; }

.btnServicios {
  margin-bottom: 15px;
  text-align: right; }

/************* CONTACTO ***************/
#containerContacto {
  border-radius: 30px;
  border: 2px solid lightgray;
  padding: 30px;
  margin: auto; }
  #containerContacto label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold; }
  #containerContacto input {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black; }
  #containerContacto textarea {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px; }
  #containerContacto .enviarForm {
    padding: 10px;
    margin-left: 80%;
    font-weight: bold; }

#fs-frm-inputs {
  display: flex;
  flex-direction: column; }
