/* GENERALES */

html{
    width: 100%;
    height: 100%;
}
.marginSection{
    margin-top: 100px;
    margin-bottom: 40px;
}
.paddingLeft{
    padding-left: 50px;
}
.marginAutoLR{
    margin: 0px auto;
}
.boldFont{
    font-weight: bold;
}
.tituloSeccion{
    text-align: left;
    margin-left: 20px;
}
.colorPrimario{
    color: midnightblue;
}
.colorSecundario{
    color: #006969;
}
.btn{
    background-color: #006969;
    color: white;
    box-shadow: 0px 0px 5px 1px black;
}
.alignLeft{
    text-align: left;
    margin-right: 10px;
    margin-bottom: 0px;
}