/* GENERALES */

html{
    width: 100%;
    height: 100%;
}
.marginSection{
    margin-top: 100px;
    margin-bottom: 40px;
}
.paddingLeft{
    padding-left: 50px;
}
.marginAutoLR{
    margin: 0px auto;
}
.boldFont{
    font-weight: bold;
}