/************* INICIO ***************/
/* CARDS */
.cardMargin{
    width: 85%;
    margin: 5% 3% 3% 5%;
    padding: 10px;
}
.card{
    margin: auto;
}
.personaldMargin{
    margin: auto;
}
.card-body a{
    font-size: 15px;
    .autor{
        font-size: 15px;
    }
}
.card-title{
    color: #006969;
    padding-left: 50px;
    font-size: 2rem;
}
.card-text{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
.card-notes{
    padding-left: 5px;
    padding-right: 5px;
}
.imgAndy{
    width: 100%;
    max-width: 223px;
    max-height: 325.55px;
    border-radius: 40%;
    margin-top: 15px;
}
.filaUltimas h1{
    padding-left: 40px;
}
.logo{
    margin-left: 25px;
}
.btnTexto{
    text-align: right;
    margin-right: 55px;
    margin-top: 25px;
}
.cardNotes{
    font-size: 15px;
}
#notasCharlas {
    h3{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px){
    .card-title{
        padding: 0;
        font-size: 1.2rem;
    }
    .sinPadding{
        padding: 0;
    }
    .cardMargin{
        width: 100%;
        margin: 0;
        padding: 0px;
        justify-content: center;
    }
     .card-text{
       padding-left: 1px;
       padding-right: 1px;
       text-align: justify;
   }
   .btnTexto{
       margin-right: 0;
   }
   .marginSection{
       margin-top: 90px;
   }
   .centrarImg{
       text-align: center;
   }
   .marginTopMobile{
       margin-top: 40px;
   }
   #containerContacto h3{
       font-size: 1.4rem!important;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .card-title{
        padding: 0;
    }
    .cardMargin{
        width: 100%;
        margin: 0;
        padding: 0px;
        justify-content: center;
    }
     .card-text{
       padding-left: 1px;
       padding-right: 1px;
       text-align: justify;
       margin:0;
   }
   .btnTexto{
       margin: 0;
   }
   .marginSection{
       margin-top: 90px;
   }
   .centrarImg{
       text-align: center;
   }
   .marginTopMobile{
       margin-top: 0px;
   }
   .marginTopTablet{
         margin-top: 20px;
   }
}

@media only screen and (max-width: 990px){
    .nav-link{
        font-size: 1rem!important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .card-title{
        padding: 0;
    }
    .cardMargin{
        width: 100%;
        margin: 0;
        padding: 0px;
        justify-content: center;
    }
     .card-text{
       padding-left: 1px;
       padding-right: 1px;
       text-align: justify;
       margin:0;
   }
   .btnTexto{
        margin-top: 25px;
        margin-right: 0px;
   }
   .marginSection{
       margin-top: 90px;
   }
   .centrarImg{
       text-align: center;
   }
   .marginTopMobile{
       margin-top: 0px;
   }
   .marginTopTablet{
         margin-top: 20px;
   }
}

