/************* INICIO ***************/
/* CARDS */
.cardMargin{
    margin: 5% 10% 3% 10%;
}
.card{
    margin: auto;
}
.personaldMargin{
    margin: auto;
}
.card-body a{
    font-size: 15px;
    .autor{
        font-size: 15px;
    }
}