/************* SERVICIOS ***************/

.tituloServicios{
    margin: 15px 15px 25px 15px;
}
.imagenServicios{
    width: 90%;
    height: auto;
    margin: 15px;
}
.btnServicios{
    margin-bottom: 15px;
    text-align: center;
}
#charlas{
    .row{
        justify-content: space-around;
    }
    h2{
        margin-left: 20px;
    }
    h4{
        text-align: center;
        font-size: 18px;
    }
    .text-muted{
        font-size: 13px;
    }
    .btnServicios{
        text-align: right;
        margin-right: 10px;
    }
}
.columnaLista ul{
    padding-left: 0;
}

@media only screen and (max-width: 1439px){
    .columnaLista ul{
        padding-left: 25px;
    }
}
@media only screen and (max-width: 767px){
    .columnaLista ul{
        padding-left: 25px;
    }
    .marginTop{
        margin-top: 20px;
    }
    #charlas{
        margin:0;
    }
}