/************* SERVICIOS ***************/

.tituloServicios{
    margin: 15px 15px 25px 15px;
}
.imagenServicios{
    width: 90%;
    height: auto;
    margin: 15px;
}
.btnServicios{
    margin-bottom: 15px;
    text-align: center;
}
#charlas{
    .row{
        justify-content: space-around;
    }
    h2{
        margin-left: 20px;
    }
    h4{
        text-align: center;
    }
    .text-muted{
        font-size: 13px;
    }
    .btnServicios{
        text-align: right;
        margin-right: 10px;
    }
}