/************* SOBRE ANDY ***************/

#tituloSobreMi{
    margin: 10px;
}
.imagenMenor{
    margin-top: auto;
    padding-right: 10px;
    align-items: center;
}
.imgSobreMi{
    margin: 5px 0px;
}
.parrafosSobreMi{
    p{
        font-size: 16.7px;
    }
    a{
        font-size: 16.7px;
    }
}
#parrafosSobreMi{
    h4{
        color: midnightblue;
    }
}

h3{
    font-size: 1.5rem;
}