/************* SOBRE ANDY ***************/

#tituloSobreMi{
    margin: 10px;
    text-align: left;
}
.imagenMenor{
    margin: auto;
}
.imgSobreMi{
    margin: 5px;
}
.parrafosSobreMi{
    padding: 0 0 0 5%;
    p{
        font-size: 16.7px;
    }
    a{
        font-size: 16.7px;
    }
}
#parrafosSobreMi{
    h4{
        color: midnightblue;
    }
}
h3{
    font-size: 1.5rem;
}
.contentCard{
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 767px){
    #parrafosSobreMi{
        margin:0;
    }
    .parrafosSobreMi{
        padding:0;
    }
    .imgSobreMi{
        width: 90%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1439px){
    #parrafosSobreMi{
        margin:0;
    }
    .parrafosSobreMi{
        padding:0;
    }
}