/************* SOBRE ANDY ***************/

.imagenMenor{
    margin-top:auto;
    padding-right: 10px;
}
.imgSobreMi{
    margin: 10px 0px;
}
.parrafosSobreMi{
    p{
        font-size: 18px;
    }
    a{
        font-size: 18px;
    }
}