/* GENERALES */

html{
    width: 100%;
    height: 100%;
}
.marginSection{
    margin-top: 100px;
    margin-bottom: 40px;
}
.paddingLeft{
    padding-left: 50px;
}
.marginAuto{
    margin: auto;
}
.boldFont{
    font-weight: bold;
}
/* HEADER */

header nav{
    background-color: midnightblue;
    color: white;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    font-weight: bold;
}
#navbarNavDropdown{
    justify-content: center;
}

/* FOOTER*/

footer{
    background-color: midnightblue;
    color: white;
}
#Footer{
    padding-top: 3rem;
}
.imagenesRRSS{
    width: 30px;
}
.copyRight{
    padding-top: 1.5rem;
}

/************* INICIO ***************/
/* CARDS */
.cardMargin{
    margin: 5% 10% 3% 10%;
}
.card{
    margin: auto;
}
.personaldMargin{
    margin: auto;
}
.card-body a{
    font-size: 15px;
}
.card-body .autor{
    font-size: 15px;
}

/************* SOBRE ANDY ***************/

.imagenMenor{
    margin-top:auto;
    padding-left: 20px;
}


